//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Mon 10 09 19:08:29 2023

IO_LOC "led_o[7]" 42;
IO_PORT "led_o[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_o[6]" 41;
IO_PORT "led_o[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_o[5]" 40;
IO_PORT "led_o[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_o[4]" 39;
IO_PORT "led_o[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_o[3]" 35;
IO_PORT "led_o[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_o[2]" 34;
IO_PORT "led_o[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_o[1]" 32;
IO_PORT "led_o[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_o[0]" 31;
IO_PORT "led_o[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "key_i" 28;
IO_PORT "key_i" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rst_n" 27;
IO_PORT "rst_n" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 22;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
